<% provide(:title,'关于我们')%>
<!DOCTYPE html>
<html>
<body>
<h1>关于我们</h1>
<p>
在<a href="http://railstutorial.org/">Ruby on Rails教程</a>
是一个项目，使一本书，截屏教Web开发
与<a href="http://rubyonrails.org/"> Ruby on Rails</a>这
对于本教程的示例应用程序。
</p>
</body>
</html>
