<% provide(:title,'帮助')%>
<!DOCTYPE html>
<html>
<body>
<h1>帮助</h1>
<p>获得了Ruby on Rails的教程在
<a href="http://railstutorial.org/help">Rails教程的帮助页面</a>。
为了得到这个示例应用程序的帮助，请参阅
<a href="http://railstutorial.org/book"> Rails的教程书</a>
</p>
</body>
</html>
